/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* setting preffered default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
}

/* Body */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Header */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    padding: 15px;
    padding-right: 40px;
    background-color: rgba(0,0,0,0.25); 
}

.logo {
    font-size: 32px;
    text-decoration: none;
    font-weight: 750;
    color: white;

}

.navbar a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    color: white;

}

/* Main */
main {
    color: green;
    /* main takes up surplus space whcih pushes footer down */
    flex: 1 0 auto;
}

/* Home Section */
#home {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url(../media/hero.jpg);
    background-size: cover;
    background-position: center;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 95vh;
}

#home h1 {
    color: #FFAFDA;
    font-size: 480%;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

#p1 {
    font-size: 125%;
    color: white;
    letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 15px;
}

#p2 {
    margin-top: 10px;
    font-size: 125%;
    color: white;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

/* About Section */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 95vh;
    background-color: #032B22;
}

#content {
    display: flex;
    align-items: center;
    justify-items: center;
}

#content #text {
    color: rgb(232, 220, 220);
    font-size: 135%;
    width: 350px;
}

#content #text h2 {
    color: #40FFB5;
    font-size: 350%;
    margin-bottom: 15px;
}

#content img {
    width: 600px;
    height: 400px;
    margin-left: 50px;
    border-radius: 10px;
}

#accomodations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Page 1 */

#pg1 {
    background-color: #FFAFDA;
    width: 100vw;
    height: 95vh;
}

#pg1 h2 {
    color: #032B22;
    font-size: 350%;
    text-align: center;
    margin-top: 50px;
}

#pg1 #suites {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 100px 60px;
}

#suites img {
    width: 400px;
    height: 250px;
    border-radius: 15px;
}

#suites h3 {
    color: #032B22;
    font-size: 175%;
    margin-top: 5px;
}

#suites p {
    color: black;
    font-size: 85%;
    margin-top: 15px;
}

/* Page 2 */
#pg2 {
    background-color: #EFEDE7;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pg2 img {
    width: 600px;
    height: 350px;
    margin-left: 100px;
    border-radius: 10px;
}

#pg2 #text {
    color: black;
    font-size: 135%;
    width: 400px;
}

#pg2 h2 {
    color: #032B22;
    font-size: 250%;
    margin-bottom: 15px;
}

/* Page 3 */
#pg3 {
    background-color: #EFEDE7;
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pg3 div { 
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 75px;
    margin-right: 75px;
    flex-direction: column;
}
#pg3 img {
    width: 500px;
    height: 300px;
    border-radius: 10px;   
}
#pg3 h3 { 
    color: #032B22;
    font-size: 175%;
}
#pg3 p { 
    width: 500px;
    color: black
}
/* Footer */
footer {
    background-color: #032B22;
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
footer #container {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    align-items: center;
    margin-top: 25px;
}
footer #text {
    color: whitesmoke; 
    font-size: 150%;
    margin-right: 300px;
}

#text h3 {
    color: #40FFB5;
    font-size: 150%;
    letter-spacing: 5px;
}
#contactBtn {
    width: 250px;
    height: 100px;
    border-radius: 25px;
    font-size: 250%;
    margin-left: 300px;
    border-style: none;
}

#apostleDiv { 
    margin-bottom: 30px;
}
#apostleDiv h2 {
    font-size: 1000%;
    color: #40FFB5;
    letter-spacing: 30px;
}

/* Social Media links */

#socialLinks {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    margin-top: 15px;

}

#socialLinks i {
    font-size: 200%;
    padding: 5%;
    color: white;
    margin-top: 10px;
}