/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* setting preffered default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "lato", sans-serif;
}

/* Body */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
}

header ul {
    background-color: rgba(0, 0, 0, 0.25);
    margin-top: 65px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.50);
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin-left: 15px;
}

nav {
    display: none;
    left: 0;
    width: 100%;
    position: absolute;
}

.dropdown-label i {
    font-size: 35px;
    color: white;
    left: 0;
    top: 0;
    margin: 15px;
}

#nav-dropdown:checked~nav {
    display: block;
}

#nav-dropdown {
    display: none;
}

/* Main */
main {
    /* main takes up surplus space whcih pushes footer down */
    flex: 1 0 auto;
}

/* Home Section */
#home {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../media/hero.jpg);
    background-size: cover;
    background-position: center;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

#home h1 {
    color: #ffafda;
    font-size: 350%;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

#p1 {
    font-size: 125%;
    color: white;
    letter-spacing: 5px;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 15px;
}

#p2 {
    margin-top: 10px;
    font-size: 125%;
    color: white;
    letter-spacing: 2px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

/* About Section */
#about {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
    background-color: #032b22;
}

#content {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

#content #text p {
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    font-weight: 500;
    margin: 15px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../media/about_us.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

#content #text h2 {
    color: #40ffb5;
    font-size: 350%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin: 15px;
}

#content img {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    display: none;
}


/* Accomodations section */
#accomodations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Page 1 */

#pg1 {
    background-color: #ffafda;
    width: 100vw;
    height: 95vh;
}

#pg1 h2 {
    color: #032b22;
    text-align: center;
    font-size: 225%;
    font-family: "Times New Roman", Times, serif;
    margin: 20px;
}

#pg1 #suites {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}

#suites img {
    width: 200px;
    height: 100px;
    border-radius: 5px;
}

#suites h3 {
    color: #032b22;
    margin-top: 5px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 20px;
    text-align: center;
}

#suites p {
    color: black;
    font-family: "Courier New", Courier, monospace;
}

#s1 {
    margin-right: 20px;
}

#s2 {
    margin-left: 20px;
}

#s3 {
    margin-right: 20px;
}

/* Page 2 */
#pg2 {
    background-color: #efede7;
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#pg2-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
}

#pg2-container img {
    width: 250px;
    height: 125px;
    border-radius: 10px;
}

#pg2-container p {
    color: black;
    font-size: 120%;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    margin-top: 15px;
}

#pg2-container h2 {
    color: #032b22;
    font-size: 250%;
    margin-bottom: 15px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

/* Page 3 */
#pg3 {
    background-color: #efede7;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pg3-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
    margin-bottom: 15px;
}

#pg3 img {
    width: 250px;
    height: 125px;
    border-radius: 10px;
}

#pg3 h3 {
    color: #032b22;
    font-size: 1.75rem;
    font-family: "Times New Roman", Times, serif;
}

#pg3 p {
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
}

#container-2 {
    margin-top: 25px;
}

/* Footer */
footer {
    background-color: #032b22;
    width: 100vw;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#footer-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

#footer-container h3 {
    color: #40FFB5;
    font-size: 175%;
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
}

#footer-container p {
    color: whitesmoke;
    font-size: 125%;
    font-family: "Courier New", Courier, monospace;
}


#contactBtn {
    width: 150px;
    height: 75px;
    border-radius: 25px;
    font-size: 150%;
    border-style: none;
    font-family: "Times New Roman", Times, serif;
    margin-top: 45px;
}


#apostleDiv h2 {
    margin-bottom: 15px;
    font-size: 250%;
    letter-spacing: 3px;
    color: #40ffb5;
    font-family: "Times New Roman", Times, serif;
}

/* Social Media links */

#socialLinks {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#socialLinks i {
    font-size: 175%;
    padding: 5%;
    color: white;
    margin: 0 25px;
    margin-top: 25px;
}

/* Contact Page */
#contact_page {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../media/contact.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(75, 75, 75, 0.75);
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 5px;
    font-size: 125%;
}

#contact_form p {
    font-family: "Courier New", Courier, monospace;
}

#contact_form h2 {
    color: #9cfffa;
    font-size: 250%;
    width: fit-content;
    margin-bottom: 15px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

#contact_form .text-input {
    color: white;
    background: transparent;
    width: 100%;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 15px;
}

#contact_form .submitBtn {
    background-color: #9cfffa;
    color: #032b22;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Times New Roman", Times, serif;
}

/* tablets and larger (768 and above) */
@media screen and (min-width: 768px) {

    /* navbar */
    .dropdown-label {
        display: none;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 10vh;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .navbar {
        position: relative;
        display: flex;
    }

    .navbar a {
        font-size: 32.5px;
        font-weight: 500;
        text-decoration: none;
        color: white;
        font-family: "Courier New", Courier, monospace;
    }

    #links {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        background-color: transparent;
        list-style-type: none;
        padding-bottom: 50px;

    }

    /* Home Section */

    #home h1 {
        color: #ffafda;
        font-size: 550%;
    }

    #p1 {
        font-size: 200%;
    }

    #p2 {
        font-size: 200%;
    }

    /* About Section */
    #about {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 70vh;
        background-color: #032b22;
    }

    #content {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }

    #content #text p {
        color: white;
        font-family: "Courier New", Courier, monospace;
        font-size: 40px;
        font-weight: 500;
        margin: 15px;
        text-align: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../media/about_us.jpg);
        background-size: cover;
        background-position: center;
        padding: 10px;
        border-radius: 5px;
        width: 675px;
        height: 675px;
    }

    #content #text h2 {
        color: #40ffb5;
        font-size: 550%;
        font-family: "Times New Roman", Times, serif;
        text-align: center;
        margin: 15px;
    }

    /* Accomodations Pages */
    #accomodations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Page 1 */

    #pg1 {
        background-color: #ffafda;
        width: 100vw;
        height: 110vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #pg1 h2 {
        font-size: 500%;
    }

    #suites img {
        width: 400px;
        height: 250px;
        border-radius: 15px;
    }

    #suites h3 {
        color: #032b22;
        font-size: 275%;
        margin-top: 5px;
        font-family: "Times New Roman", Times, serif;
    }

    #suites p {
        color: black;
        font-size: 150%;
        margin-top: 10px;
        font-family: "Courier New", Courier, monospace;
    }

    #s1 {
        margin-right: 0;
    }

    #s2 {
        margin-left: 0;
    }

    #s3 {
        margin-right: 0;
    }

    /* Page 2 */
    #pg2 {
        background-color: #efede7;
        width: 100vw;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #pg2 img {
        width: 650px;
        height: 375px;
        border-radius: 10px;
    }

    #pg2-container p {
        font-size: 200%;
    }

    #pg2-container h2 {
        font-size: 400%;
        margin-bottom: 30px;
    }

    /* Page 3 */
    #pg3 {
        height: 105vh;
    }

    #pg3-container {
        flex-direction: column;
    }

    #pg3 img {
        width: 650px;
        height: 375px;
    }

    #pg3 h3 {
        font-size: 300%;
    }

    #pg3 p {
        font-size: 175%;
        margin-bottom: 20px;
        margin-left: 15px;
        margin: 0 10px;
    }

    /* Footer */
    footer {
        height: 40vh;
    }

    #footer-container {
        flex-direction: row;
        margin: 0;
    }

    #footer-container h3 {
        font-size: 300%;
        margin-right: 20px;
    }

    #footer-container p {
        font-size: 175%;
        margin-right: 20px;

    }

    #contactBtn {
        width: 250px;
        height: 100px;
        font-size: 250%;
        margin-left: 20px;
        margin-bottom: 25px;

    }

    #apostleDiv {
        margin-bottom: 0;
    }

    #apostleDiv h2 {
        font-size: 700%;
        letter-spacing: 10px;
    }

    /* Social Media links */

    #socialLinks {
        flex-direction: column;
        gap: 60px;
        margin-top: 15px;
    }

    #socialLinks i {
        font-size: 250%;
        margin-top: 10px;
    }

    /* Contact Page */
    #contact_form p {
        font-size: 225%;
    }

    #contact_form h2 {
        font-size: 400%;
        margin-bottom: 10px;
    }

    #contact_form .text-input {
        width: 100%;
        height: 30px;
        border: 2px solid white;
        margin-bottom: 15px;
    }

    #contact_form .submitBtn {
        font-size: 2.5rem;
        border: none;
        width: 175px;
        height: 75px;
    }
}

/* large devices (laptop and larger (992px )*/
@media screen and (min-width: 992px) {

    /* Header */
    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .navbar a {
        font-size: 20px;
        font-weight: 500;
    }

    header ul {
        background-color: rgba(0, 0, 0, 0.25);
        margin-top: 50px;
        border-bottom: 0;
    }

    /* Home Section */
    #home {
        height: 95vh;
    }

    #p1 {
        font-size: 135%;
        color: white;
    }

    #p2 {
        font-size: 135%;
    }

    /* About Section */
    #about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100vw;
        height: 70vh;
        background-color: #032b22;
    }

    #content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }

    #content #text p {
        font-size: 18px;
        font-weight: 500;
        margin-right: 75px;
        text-align: center;
        background-image: none;
        background-size: 0;
        background-position: 0;
        padding: 0;
        border-radius: 0;
        width: 325px;
        height: 275px;
    }

    #content #text h2 {
        color: #40ffb5;
        font-size: 500%;
        font-family: "Times New Roman", Times, serif;
        text-align: center;
        margin-right: 75px;
    }

    #content img {
        width: 600px;
        height: 350px;
        border-radius: 10px;
        display: flex;
    }

    /* Accomodations section */
    #accomodations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Page 1 */

    #pg1 {
        background-color: #ffafda;
        width: 100vw;
        height: 85vh;
    }

    #pg1 h2 {
        text-align: center;
        font-size: 4rem;
        margin-top: 40px;
    }

    #pg1 #suites {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        flex-direction: row;
        margin-bottom: 50px;
        width: 100%;
        height: 100%;
    }

    #suites img {
        width: 400px;
        height: 200px;
        border-radius: 5px;
    }

    #suites h3 {
        color: #032b22;
        font-family: "Times New Roman", Times, serif;
        margin-bottom: 0;
        text-align: center;
        font-size: 2.5rem;
    }

    #suites p {
        color: black;
        font-family: "Courier New", Courier, monospace;
        font-size: 1.25rem;
    }

    #s1 {
        margin-right: 0;
    }

    #s2 {
        margin-left: 0;
    }

    #s3 {
        margin-right: 0;
    }

    /* Page 2 */
    #pg2 {
        background-color: #efede7;
        width: 100vw;
        height: 90vh;
        display: flex;
        align-items: start;
        justify-content: start;
    }

    #pg2-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #pg2 img {
        width: 650px;
        height: 375px;
        border-radius: 10px;
    }

    #pg2-container p {
        font-size: 1.5rem;
        width: 75%;

    }

    #pg2-container h2 {
        font-size: 400%;
        align-self: center;
    }

    /* Page 3 */
    #pg3 {
        background-color: #efede7;
        width: 100vw;
        height: 60vh;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    #pg3-container {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 0;
        margin-bottom: 0;
        margin-top: 50px;

    }

    #pg3 img {
        width: 500px;
        height: 250px;
        border-radius: 10px;
    }

    #pg3 h3 {
        font-size: 2rem;
    }

    #pg3 p {
        color: black;
        font-family: "Courier New", Courier, monospace;
        font-size: 1.25rem;
    }

    #container-2 {
        margin-top: 0;
    }


    /* Footer */
    footer {
        background-color: #032b22;
        width: 100vw;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #footer-container {
        display: flex;
        flex-direction: row;
        flex: 1 0 auto;
        align-items: center;
        margin-top: 25px;
    }

    #footer-container h3 {
        color: #40FFB5;
        font-size: 250%;
        letter-spacing: 5px;
        margin-right: 300px;

        font-family: 'Times New Roman', Times, serif;
    }

    #footer-container p {
        color: whitesmoke;
        font-size: 150%;
        margin-right: 300px;
        font-family: "Courier New", Courier, monospace;
    }

    #contactBtn {
        width: 250px;
        height: 100px;
        border-radius: 25px;
        font-size: 250%;
        margin-left: 300px;
        border-style: none;
        font-family: "Times New Roman", Times, serif;
    }

    #apostleDiv {
        margin-bottom: 30px;
    }

    #apostleDiv h2 {
        font-size: 1000%;
        color: #40ffb5;
        letter-spacing: 30px;
        margin-bottom: 0;
        font-family: "Times New Roman", Times, serif;
    }

    /* Social Media links */

    #socialLinks {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 80px;
        margin-top: 15px;
    }

    #socialLinks i {
        font-size: 200%;
        padding: 5%;
        color: white;
        margin-top: 10px;
    }

    /* Contact Page */
    #contact_page {
        width: 100%;
        height: 95vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(../media/contact.jpg);
        background-size: cover;
        background-position: center;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #contact {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(75, 75, 75, 0.75);
        padding: 50px;
        width: fit-content;
        height: fit-content;
        color: white;
        border-radius: 5px;
        font-size: 150%;
    }

    #contact_form p {
        font-family: "Courier New", Courier, monospace;
    }

    #contact_form h2 {
        color: #9cfffa;
        font-size: 250%;
        margin-bottom: 15px;
        font-family: "Times New Roman", Times, serif;
    }

    #contact_form .text-input {
        color: white;
        background: transparent;
        width: 100%;
        height: 25px;
        border: 1px solid white;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    #contact_form #buttons {
        display: flex;
        margin-left: 25px;
        gap: 25px;
    }

    #contact_form .submitBtn {
        background-color: #9cfffa;
        color: #032b22;
        font-size: 1.5rem;
        border-radius: 5px;
        border: none;
        width: 100px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Times New Roman", Times, serif;
    }
}